graph {
	fill-color: white;
}

node {
	text-size: 20;
	size: 20px, 20px;
	shape: circle;
	fill-color: green;
	stroke-mode: plain;
	stroke-color: yellow;
}

node#A {
	fill-color: blue;
}

node:clicked {
	fill-color: red;
}

edge {
	text-size: 20;
}